<div class="confimation-content-wrapper">
    <div class="container">
        <div class="confimation-content-inner-wrapper">
            <div class="page-main-title">
                <span>Arun,</span>
                <br>
                <span>Are you Sure to Cancel all Subscriptions?</span>
            </div>
            <div class="page-sub-text">
                Eget penatibus odio consectetur diam semper dignissim faucibus vulputate. 
Suspendisse aliquam hendrerit donec imperdiet semper.
Tempor in cursus et gravida dictum nulla enim mi malesuada. 
Viverra posuere quam cras et venenatis.
            </div>
            <div class="action-button-list">
                <button>Curate my List</button>
                <button>Cancel all Subscriptions</button>
            </div>
        </div>
    </div>
</div>