/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'DM Sans';
    src: url('/assets/fonts/DMSans-Bold.ttf');
}
@font-face {
    font-family: 'General Sans';
    src: url('/assets/fonts/DMSans-Regular.ttf');
}
  
